<% include partials/header %>

<div class="container">
    <div class="row">
        <img src="<%= blog[0].image %>" alt="blog_image" width="100%" />
    </div>
    <div class="row">
        <h1><%= blog[0].name %></h1>
        <h4><%= blog[0].description %></h4>
        <p><%= blog[0].message %></p>
    </div>
</div>

<% include partials/footer %>
